.idea
cmake-build-*
*__pycache__*
embed.egg-info/
dist/
CMakeFiles
embed/test/__pycache__/
build*
cmake_example2.cpython-36m-darwin.so.dSYM/
.eggs/*
src/embed/bindings*
tests/bin
tests/real_data_test1
cpg_hdp_model
notes.md
.gitignore
Docker/run_docker.sh
.eggs/
test_event/
tests/test_files/test_binary_event/
